<nav id="navbar_top"class=" navbar navbar-expand-lg navbar-light bg-white p-0">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="./images/Kuber-Art-Logo.png" height="80px" width="auto" alt="Kuber Art Logo"></a>
    <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center justify-content-center ms-lg-5 " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-5 ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Service-section">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact-us">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Blog">Blog</a>
        </li>
        
      </ul>
      <i class="fa-solid fa-user"></i>
        <a href="login">Login</a>
        <span>/</span>
        <a href="register">Register</a>
    </div>
  </div>
</nav>